@{
    ViewBag.Title = "Rating Blog Form";
}
<h2>@ViewBag.Title</h2>
<div>
    <div>
        <div class="col-sm-12">
            <div class="row">
                <div class="col-xs-12">
                    <h2>Article Heading</h2>
                    <ul class="list-inline"><li>@DateTime.Today.ToString("dd MMM yyyy")</ul>
                    <div>
                        <img src="~/Content/Img/ProfileLogo.png" alt="profile icon" class="img-responsive pull-right width-40-pct"/>
                    </div>
                    <div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                            Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
                            dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
                            Aliquam in felis sit amet augue.
                        </p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-xs-12">
                    <h2>Article Heading</h2>
                    <ul class="list-inline"><li>@DateTime.Today.ToString("dd MMM yyyy")</ul>
                    <div>
                        <img src="~/Content/Img/ProfileLogo.png" alt="profile icon" class="img-responsive pull-right width-40-pct" />
                    </div>
                    <div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                            Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
                            dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
                            Aliquam in felis sit amet augue.
                        </p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-xs-12">
                    <h2>Article Heading</h2>
                    <ul class="list-inline"><li>@DateTime.Today.ToString("dd MMM yyyy")</ul>
                    <div>
                        <img src="~/Content/Img/ProfileLogo.png" alt="profile icon" class="img-responsive pull-right width-40-pct" />
                    </div>
                    <div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                            Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
                            dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
                            Aliquam in felis sit amet augue.
                        </p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-xs-12">
                    <h2>Article Heading</h2>
                    <ul class="list-inline"><li>@DateTime.Today.ToString("dd MMM yyyy")</ul>
                    <div>
                        <img src="~/Content/Img/ProfileLogo.png" alt="profile icon" class="img-responsive pull-right width-40-pct" />
                    </div>
                    <div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                            Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
                            dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
                            Aliquam in felis sit amet augue.
                        </p>
                    </div>
                </div>
            </div>
           <hr>
        </div>
    </div>
    <div class="porduct-order-agile">
        <form action="#" method="post">
            <div class="main">
                <div class="form-group-w3l">
                    <p>Name</p>
                    <input type="text" id="TextArea" name="Name" placeholder="" required="">
                </div>
            </div>
            <div class="form-control-w3l">
                <p>Please, add your messages</p>
                <textarea id="TextArea" name="Message" placeholder="" required=""></textarea>
            </div>
            <button type="submit" class="btn btn-primary" id="Submit">Submit</button>
        </form>
    </div>
</div>